@page
@model LivinParisWebApp.Pages.Client.SettingsParticulierModel
@{
    Layout = "~/Pages/Shared/_NavBarLayout.cshtml";
    ViewData["Title"] = "Paramètres Particulier";
}
<head>
    <link rel="stylesheet" href="../css/site.css" />
</head>
<div class="content-settings-cuisinier">
    <div class="left">
        <p class="logo-title">Statistiques</p>
        <div class="ligne1">
            <div>
                <p class="nb rose">Nombre de plats commandés :</p>
                <p>@Model.NbPlatsCommandes</p>
            </div>
            <div>
                <p class="nb rose">Argent :</p>
                <p>@Model.Solde €</p>
                <form method="post" asp-page-handler="AddArgent" style="display:inline;">
                    <button type="submit" class="ajout-argent">+</button>
                </form>
            </div>
        </div>
        <div class="ligne2">
            <div>
                <p class="revenus rose">Dépenses totales :</p>
                <p>@Model.DepensesTotales €</p>
            </div>
            <div>
                <p class="revenus rose">Prix moy. de commande :</p>
                <p>@Model.PrixMoyenCommande €</p>
            </div>
        </div>
        <div class="ligne3">
            <p class="clients rose">Plats commandés :</p>
            <div>
                <form method="post" asp-page-handler="ActionPage" class="tri-form">
                    <label for="tri">Trier par :</label>
                    <select id="tri" name="Tri" class="tri-select">
                        <option value="nc">Nom croissant</option>
                        <option value="nd">Nom décroissant</option>
                        <option value="pc">Prix croissante</option>
                        <option value="pd">Prix décroissante</option>
                        <option value="pm">Plus récente - moins récente</option>
                        <option value="mp">Moins récente - plus récente</option>
                    </select>
                    <button type="submit">Trier</button>
                </form>
            </div>
            <div class="clients-list">
                @foreach (var plat in Model.PlatsCommandes)
                {
                    <div class="client-card">
                        <div class="dish-info">
                            <p>@plat.Nom - @plat.Prix €</p>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="ligne4">
            <div class="btn-add-plat">
                <form method="post">
                    <button type="submit" asp-page-handler="ClientPanel">
                        Retour
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="create-form">
            <p class="title-create-form">Mes informations</p>
            <div class="form-create">
                <form method="post">
                    <div class="inputs">
                        <input asp-for="Email" placeholder="Email" />
                        <input asp-for="Password" type="password" placeholder="Mot de passe" />
                    </div>
                    <div class="inputs">
                        <input asp-for="Prenom" placeholder="Prénom" />
                        <input asp-for="Nom" placeholder="Nom" />
                    </div>
                    <div class="adress-container">
                        <p>Adresse</p>
                        <div class="input-adress">
                            <input asp-for="Arrondissement" placeholder="Arrondissement" />
                            <input asp-for="Voirie" placeholder="Voirie" />
                            <input asp-for="Numero" placeholder="Numéro" />
                        </div>
                    </div>
                    <button type="submit" asp-page-handler="Validate">
                        Valider les changements
                    </button>
                    <div class="btns-deco">
                        <button class="dec" type="submit" asp-page-handler="Deconnexion">
                            <p>Déconnexion</p>
                        </button>
                        <button class="sup" type="submit" asp-page-handler="Supprimer">
                            <p>Supprimer mon compte</p>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>