@page
@model LivinParisWebApp.Pages.Cuisinier.AddPlatModel
@{
    Layout = "~/Pages/Shared/_NavBarLayout.cshtml";
    ViewData["Title"] = "Création de plat";
}

<head>
    <link rel="stylesheet" href="/css/site.css" />
</head>

<div class="top-panel-plat">
    <p class="message-top-panel">Création de plat</p>
</div>

<form method="post">
    <div class="checkbox-use-platdujour" style="display: flex; justify-content: center; margin-bottom: 1em;">
        <input type="hidden" name="UsePlatJour" value="true" />
        <button type="submit" asp-page-handler="CochePlatDuJour" class="btn-confirm">Utiliser le plat du jour</button>
    </div>
</form>

<form method="post" class="form-plat">
    <div class="content-today-plat">
        <div class="left-colonne">
            <div class="ligne1">
                <div class="inputs">
                    <input asp-for="NomDuPlat" placeholder="Nom du Plat" />
                    <input asp-for="Prix" placeholder="Prix" />
                </div>
            </div>
            <div class="ligne2">
                <div class="inputs">
                    <input asp-for="NbDePersonnes" placeholder="Nb de Personnes" />
                    <input asp-for="Type" placeholder="Type" />
                </div>
            </div>
            <div class="ligne3">
                <div class="creation-container">
                    <p>Création</p>
                    <div class="input-creation">
                        <select asp-for="JourCreation">
                            <option disabled selected>Jour</option>
                            @for (int i = 1; i <= 30; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>

                        <!-- Mois dropdown -->
                        <select asp-for="MoisCreation">
                            <option disabled selected>Mois</option>
                            @for (int i = 1; i <= 12; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>

                        <!-- Année dropdown -->
                        <select asp-for="AnneeCreation">
                            <option disabled selected>Année</option>
                            @for (int i = 2022; i <= 2028; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="ligne4">
                <div class="peremption-container">
                    <p>Péremption</p>
                    <div class="input-peremption">
                        <select asp-for="JourPerem">
                            <option disabled selected>Jour</option>
                            @for (int i = 1; i <= 30; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                        <select asp-for="MoisPerem">
                            <option disabled selected>Mois</option>
                            @for (int i = 1; i <= 12; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                        <select asp-for="AnneePerem">
                            <option disabled selected>Année</option>
                            @for (int i = 2025; i <= 2028; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="right-colonne">
            <div class="ligne1">
                <div class="charge">
                    <p>Photo</p>
                    <button class="load-img" type="button"><p>Charger</p></button>
                    <button type="button"><p>Supprimer</p></button>
                </div>
                <div class="img-container">
                    <p>Aperçu</p>
                    <img src="/src/img/plat.png" alt="">
                </div>
            </div>
            <div class="ligne2">
                <div class="inputs">
                    <input asp-for="Nationalite" placeholder="Nationalité" />
                    <input asp-for="Regime" placeholder="Régime" />
                </div>
            </div>
            <div class="ligne3">
                <div class="ingre-container">
                    <p>Ingrédients</p>
                    <div class="input-ingre">
                        <input asp-for="Ingredients" placeholder="Ingrédients" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-actions">
        <button class="btn-confirm" asp-page-handler="CuisinierPanelConfirm" type="submit">Confirmer</button>
    </div>
</form>

<!-- FORM SECONDAIRE POUR RETOUR -->
<form method="post" class="form-bottom-plat">
    <button class="btn-back" type="submit" asp-page-handler="CuisinierPanelRetour">Retour</button>
</form>
