@page
@model LivinParisWebApp.Pages.Cuisinier.DetailsPlatModel
@{
    Layout = "~/Pages/Shared/_NavBarLayout.cshtml";
    ViewData["Title"] = "Détails Plat";
}
<head>
    <link rel="stylesheet" href="/css/site.css" />
</head>
<div class="top-panel">
    <p class="message-top-panel">Détails de votre plat</p>
</div>
<div class="content-details-plat">
    <div class="box">
        <div class="ligne1">
            <!-- a automatiser -->
            <p class="nom">@Model.NomPlat</p>
            <p class="natio rose">Nationalité : @Model.Nationalite</p>

            <p class="fab rose">Fabrication : @Model.Fabrication</p>
            <p class="regime rose">Régime : @Model.Regime</p>
        </div>
        <div class="ligne2">
            <p class="prix">Prix : @Model.Prix €</p>
            <p class="perem rose">Péremption : @Model.Peremption</p>
        </div>
        <div class="ligne3">
            <p class="nb">Nb de personnes : @Model.NbPersonnes</p>
            <p class="ing rose">Ingrédients : @Model.Ingredients</p>
        </div>
    </div>
    <div class="img-container">
        <img src="/src/img/plat.png" alt="" />
    </div>
</div>
<p class="msg-bottom">Pour modifier, veuillez le supprimer et en recréer un ! Merci !</p>
<div class="btn-back-cuisinier">
    <form method="post">
        <button type="submit" asp-page-handler="CuisinierPanel">
            Retour
        </button>
    </form>
</div>