@page
@model LivinParisWebApp.Pages.Cuisinier.SettingsCuisinierModel
@{
    Layout = "~/Pages/Shared/_NavBarLayout.cshtml";
    ViewData["Title"] = "Paramètres Cuisinier";
}
<head>
    <link rel="stylesheet" href="../css/site.css" />
</head>
<div class="content-settings-cuisinier">
    <div class="left">
        <p class="logo-title">Statistiques</p>
        <div class="ligne1">
            <p class="nb rose">Nombre de plats vendus :</p>
            <p>@Model.NbPlatsVendus</p>
        </div>
        <div class="ligne2">
            <p class="revenus rose">Revenus totaux :</p>
            <p>@Model.RevenusTotaux €</p>
        </div>
        <div class="ligne3">
            <p class="clients rose">Clients servis :</p>
            <div>
                <form method="post" asp-page-handler="ActionPage" class="tri-form">
                    <label for="tri">Trier par :</label>
                    <select id="tri" name="tri" class="tri-select">
                        <option value="nc">Nom croissant</option>
                        <option value="nd">Nom décroissant</option>
                        <option value="noc">Note croissante</option>
                        <option value="nod">Note décroissante</option>
                        <option value="pm">Plus récente - moins récente</option>
                        <option value="mp">Moins récente - plus récente</option>
                    </select>
                </form>
            </div>
            <div class="clients-list">
                @foreach (var client in Model.ClientsServis)
                {
                    <div class="client-card">
                        <div class="dish-info">
                            <p>@client</p>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="ligne4">
            <p class="temps rose">Temps passés en livraison :</p>
            <p>@Model.TempsLivraison</p>
            <div class="btn-add-plat">
                <form method="post">
                    <button type="submit" asp-page-handler="CuisinierPanel">
                        Retour
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="create-form">
            <p class="title-create-form">Mes informations</p>
            <div class="form-create">
                <form method="post">
                    <div class="inputs">
                        <input asp-for="Email" placeholder="Email" />
                        <input asp-for="Password"
                               type="password"
                               placeholder="Mot de passe" />
                    </div>
                    <div class="inputs">
                        <input asp-for="Prenom" placeholder="Prénom" />
                        <input asp-for="Nom" placeholder="Nom" />
                    </div>
                    <div class="adress-container">
                        <p>Adresse</p>
                        <div class="input-adress">
                            <select asp-for="Arrondissement">
                                <option disabled selected>@Model.Arrondissement</option>
                                @for (int i = 75001; i <= 75020; i++)
                                {
                                    <option value="@i">@i Paris</option>
                                }
                            </select>
                            <input asp-for="Voirie" placeholder="Voirie" value="@Model.Voirie" />
                            <select asp-for="Numero">
                                <option disabled selected>@Model.Numero</option>
                                @for (int i = 1; i <= 500; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>
                    </div>
                    <button type="submit" asp-page-handler="Validate">
                        Valider les changements
                    </button>
                    <div class="btns-deco">
                        <button class="dec" type="submit" asp-page-handler="Deconnexion">
                            <p>
                                Déconnexion
                            </p>
                        </button>
                        <button class="sup" type="submit" asp-page-handler="Supprimer">
                            <p>
                                Supprimer mon compte
                            </p>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
